.remote-caret {
  position: absolute;
  border-left: white;
  border-left-style: solid;
  border-left-width: 2px;
  height: 1em;
}
.remote-caret > div {
  position: relative;
  top: 1.5em;
  font-size: 0.5rem;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: normal;
  user-select: none;
  color: white;
  padding-left: 0.1em;
  padding-right: 0.1em;
  z-index: 3;
}
/* This is the hide class rule applied by Yjs. Its behavior is
  unusual: Yjs hides the caret automatically after 2 seconds
  regardless of activity, and then shows it upon certain cursor
  movements (including automatic movements caused by the
  codemirror language plugin automatic formatting) */
/* .remote-caret.hide-name > div { */
/*   transition-delay: .7s; */
/*   opacity: 0; */
/* } */

/* This is our own hide class rule */
.remote-caret.codeconnected-hide > div {
  transition-delay: .7s;
  opacity: 0;
}
