:root {
    --inner-height: 100vh;
    --main-bg-color: white;
    --code-area-bg-color: #0d1117;
    --code-area-border-color: #1e262e;
    --code-area-header-height: 3.6em;
    --code-area-header-padding-top: 0.5em;
    --code-area-bottom-margin: 1em;
    --code-area-modal-background: #32404d;
    --modal-background: transparent;
    --modal-border: 1px #777 solid;
    /* z-indexes */
    --terminal-scrollport-z-index: 10;
    --participants-list-z-index: 10;
    --resizer-overlay-z-index: 15;
    --backdrop-z-index: 20;
    --select-dropdown-z-index: 30;
    --tabbed-modal-z-index: 40;
    --auth-wrapper-z-index: 40;
    --user-quickdash-z-index: 40;
    --invite-z-index: 40;
    --backdrop--level2-z-index: 50;
    --popup-dialog-z-index: 60;
    --tooltip-z-index: 65;
    --spinner-z-index: 70;
}

/* Base rules */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

body {
    background-color: var(--main-bg-color);
    color: #555;
    /* This height definition for the sole purpose of having
       height update on resize, to trigger resizeObserver */
    height: 100%;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
    user-select: none;
    -webkit-user-select: none;
}

/* Prevent text from being selected when user is resizing code
   containers */
body.is-resizing {
    user-select: none !important;
    -webkit-user-select: none !important;
}

.close-button__container {
    position: relative;
}

.close-button {
    position: absolute;
    top: -2em;
    right: -2em;
    height: 2em;
    width: 2em;
    cursor: pointer;
    background-image: url('../images/close_button.png');
    background-repeat: no-repeat;
    background-size: 2em 2em;
}

.media {
    display: flex;
    gap: 0.5em;
}

.media--bordered {
    border: 1px solid #cbcbcb;
    border-radius: 4em;
    padding: 0.5em 2em;
}

.media--with-background {
    background: radial-gradient(#f8f8f8, #eeeeee);
    border-radius: 4em;
    padding: 0.5em 2em;
}

.media--centered {
    justify-content: center;
}

.media--constrained {
    height: 5em;
    width: 14em;
}

.media--with-background:hover {
    background: #dddddd;
    border: none;
}

.media__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media__image {
    height: 5.5em;
    width: auto;
    object-fit: scale-down;
}

.media__image--medium {
    height: 4.5em;
    width: auto;
}

.media__image--small {
    height: 3.5em;
    width: auto;
}

.media__image--smaller {
    height: 3em;
    width: auto;
}

.media__image--tiny {
    height: 2.5em;
    width: auto;
}

.media__image--tinier {
    height: 2em;
    width: auto;
}

.media__image--micro {
    height: 1.5em;
    width: auto;
}

.media__image--clickable {
    cursor: pointer;
}

.media__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media__text--constrained {
    width: 19.5em;
}

.site-name {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 2.7em;
    color: white;
    white-space: nowrap;
}

.site-name--color1 {
    /* color: #ec19ff; */
    color: #d26043;
}

.site-name--color2 {
    color: white;
}

.site-name--small {
    font-size: 1.5em;
}

.site-name--tiny {
    font-size: 1em;
}

.site-name--micro {
    font-size: 0.6em;
}

.tagline {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.3em;
    color: white;
    display: block;
    white-space: nowrap;
}

#home {
    display: flex;
    flex-direction: column;
    /* background-color: var(--main-bg-color); */
    /* background: no-repeat url("./circuit-board.jpg"); */
    background-size: cover;
    height: var(--inner-height);
    /* Don't show scrollbars on Firefox*/
    scrollbar-width: none;
}

/* Don't show scrollbars on home page */
/* Works on Chrome, Edge, and Safari */
#home::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

#home > header {
    display: flex;
    flex: 1;
    padding: 0.5em 0.5em 0.5em;
    background: #1d252c;
    box-shadow: 0 1px 5px 2px #444;
    /* border-bottom: 1px solid #777; */
}

#home > main {
    flex: 10;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 1em 1em 0;
}

#home > footer {
    flex: 1;
    background: #1d252c;
    box-shadow: 0 -2px 2px 2px #444;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s;
}

.message {
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #b7b7b7;
}

.message--micro {
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 0.5em;
    color: #b7b7b7;
}

.image-link {
    display: block;
    background-image: url('../images/github.png');
    height: 1.2em;
    width: 1.2em;
    background-size: 1.2em 1.2em;
    background-repeat: no-repeat;
}

.flex-pane {
    flex: 1;
}

.flex-pane__message {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    background-color: #f5f5f5;
    padding: 0.5em;
}

.flex-pane__message--small {
    font-size: 0.8rem;
    padding: 0.2em;
}

.flex-pane__sign-in-link {
    text-decoration: underline;
    cursor: pointer;
}


.flex-pane--wide {
    flex: 2;
}

.flex-pane--narrow {
    flex: 1;
}

.flex-pane--boxed {
    border: 1px solid #666;
    border-radius: 1em;
}

.flex-pane--vert-centered {
    align-self: center;
}

.flex-container {
    display: flex;
}

.flex-container-wrap {
    flex-wrap: wrap;
}

.flex-container--gap {
    gap: 1em;
}

.flex-container--wide-horiz-margins {
    margin: 0 4em;
}

.flex-container--right-justified {
    justify-content: flex-end;
}

.flex-container--spread-out {
    justify-content: space-between;
}

.flex-container--vert-centered {
    align-items: center;
}

.flex-container--vert-top {
    align-items: start;
}

.flex-container--horiz-centered {
    justify-content: center;
}

.flex-container--col {
    flex-direction: column;
}

.thin-font {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.list-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5em;
}

.table {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

.table-wrapper {
    max-width: 50em;
    margin: 0 auto;
}

.table-row {
    display: table-row;
    line-height: 1.5em;
}

.table-row--heading {
    font-family: 'Jost', sans-serif;
    font-size: 0.9rem;
    color: #336791;
    line-height: 0.5em;
    white-space: nowrap;
}

.table-row--items {
    font-family: 'Jost', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #444;
    white-space: nowrap;
}

.table-row--items:hover {
    cursor: pointer;
}

.table-cell {
    display: table-cell;
}

.table-cell:not(.table-cell--heading) {
    background-color: #eeeeee;
    border: solid 1px white;
    border-style: solid none;
    padding-left: 0.3em;
    padding-top: 0.2em;
}

/* Round table row corners */
.table-cell:first-child {
    border-left-style: solid;
    border-top-left-radius: 0.8em;
    border-bottom-left-radius: 0.8em;
}

.table-cell:last-child {
    border-right-style: solid;
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
}

.table-cell.shade {
    background-color: #e4e4e4;
}

.sign-in-link {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    text-decoration: underline;
    white-space: nowrap;
}

.sign-in-link:hover {
    color: #d22eff;
    cursor: pointer;
}

.icon {
    height: 2em;
    width: 2em;
}

.back-to-home-dialog-wrapper {
    position: absolute;
    z-index: var(--popup-dialog-z-index);
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
}

.back-to-home-dialog-wrapper.hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s;
}

.backdrop {
    position: fixed;
    z-index: var(--backdrop-z-index);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: black;
}

.backdrop--level2 {
    z-index: var(--backdrop--level2-z-index);
    opacity: 0.6;
}

.popup-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin: 15vh auto 0;
    padding: 1em;
    top: 10vh;
    width: 25em;
    left: 0;
    right: 0;
    color: white;
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    background-color: #808080;
    border: 1px solid white;
    border-radius: 1em;
    z-index: var(--popup-dialog-z-index)
}

.popup-dialog--dark {
    background-color: black;
}

.popup-dialog__text {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

.popup-dialog__text--small {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.aligned-block {
    display: table;
}

.aligned-block__row {
    display: table-row;
    line-height: 1.5em;
}

.aligned-block__row--clickable {
    cursor: pointer;
}

.aligned-block__row--clickable:hover {
    background-color: rgba(182, 182, 182, 0.4)
}

.aligned-block__cell {
    display: table-cell;
    vertical-align: middle;
}

.aligned-block__image {
    vertical-align: middle;
    height: 5.5em;
    width: auto;
    object-fit: scale-down;
}

.aligned-block__image--medium {
    height: 4.5em;
}

.aligned-block__image--tiny {
    height: 2em;
}

.aligned-block__image--tinier {
    height: 1em;
}

.tabbed-modal {
    --tabbed-modal-background: white;
    --unselected-tab-background: #999;
    --tabbed-modal-border: none;
    position: fixed;
    z-index: var(--tabbed-modal-z-index);
    margin-top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    min-width: 24em;
    border-radius: 0.7rem;
    box-shadow: 0 0 7px 1px #444;
    opacity: 1;
}

.tabbed-modal__content {
    display: flex;
    justify-content: center;
    background: var(--tabbed-modal-background);
    border-bottom: var(--tabbed-modal-border);
    border-right: var(--tabbed-modal-border);
    border-left: var(--tabbed-modal-border);
    border-radius: 0 0 0.7rem 0.7rem;
}

.tabbed-modal__tab-container {
    display: flex;
    position: relative;
    background-color: var(--unselected-tab-background);
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.tabbed-modal__tab {
    flex: 1;
    height: 1em;
    padding-top: .2em;
    padding-bottom: .2em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    color: #e7e7e7;
    background-color: var(--unselected-tab-background);
    border-bottom: var(--tabbed-modal-border);
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    cursor: pointer;
}

.tabbed-modal__tab.selected {
    flex: 1;
    background-color: var(--tabbed-modal-background);
    color: #222;
    border-top: var(--tabbed-modal-border);
    border-left: var(--tabbed-modal-border);
    border-right: var(--tabbed-modal-border);
    border-bottom: none;
}

.pre-launch-dialog-wrapper {
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
}

.pre-launch-dialog-wrapper.hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s;
}

.auth-wrapper {
    position: absolute;
    z-index: var(--auth-wrapper-z-index);
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
}

.auth-wrapper.hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s;
}

.user-quickdash {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0.6em 1em 0.2em;
    top: 3.7em;
    right: 2.2em;
    min-width: 3em;
    height: auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 4px 0.1px #999;
    z-index: var(--user-quickdash-z-index);
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

.user-quickdash.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.user-quickdash__heading {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    margin-bottom: 0.3em;
}

.user-quickdash__text {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    color: #222;
}

.user-quickdash__sign-out-button {
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    color: #555;
    background-color: #d9d9d9;
    border: none;
    border-radius: 0.8em;
    padding: 0.2em 1.2em 0.3em;
    margin: 1em auto 0.5em;
}

.user-quickdash__sign-out-button:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

#code-area {
    background: var(--code-area-bg-color);
    height: var(--inner-height);
}

#code-area.hidden {
    opacity: 0;
}

#code-area.visible {
    opacity: 1;
    transition: opacity .5s;
}

#code-area > header {
    height: var(--code-area-header-height);
    display: flex;
    padding-left: 0.7em;
    padding-right: 0.8em;
    padding-top: var(--code-area-header-padding-top);
}

#code-area > main {
    /* flex: 20; */
    height: calc(var(--inner-height) - var(--code-area-header-height) - var(--code-area-header-padding-top) - var(--code-area-bottom-margin));
    display: flex;
    padding: 0.5em;
    /* Prevent default touch actions (this allows resizing the panes
       to work with the resize bar, among other things) */
    touch-action: none;
}

#code-area .user-quickdash {
    background: var(--code-area-modal-background);
    box-shadow: none;
}

#code-area .user-quickdash__heading {
    color: #e3e3ea;
}

#code-area .user-quickdash__text {
    color: #7393b0;
}

#code-area .user-quickdash__sign-out-button {
    color: #e3e3ea;
    background-color: #336791;
}

#code-area .user-quickdash__sign-out-button:hover {
    background-color: #042853;
}

#code-area .tabbed-modal {
    --tabbed-modal-background: #1d252d;
    --unselected-tab-background: #14181f;
    --tabbed-modal-border: none;
    box-shadow: none;
}

#code-area .tabbed-modal__content {
    display: flex;
    justify-content: center;
    color: #e7e7e7;
    background: var(--tabbed-modal-background);
    border-bottom: var(--tabbed-modal-border);
    border-right: var(--tabbed-modal-border);
    border-left: var(--tabbed-modal-border);
    border-radius: 0 0 0.7rem 0.7rem;
}

#code-area .tabbed-modal__tab-container {
    display: flex;
    position: relative;
    background-color: var(--unselected-tab-background);
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

#code-area .tabbed-modal__tab {
    flex: 1;
    height: 1em;
    padding-top: .2em;
    padding-bottom: .2em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    color: #777;
    background-color: var(--unselected-tab-background);
    border-bottom: var(--tabbed-modal-border);
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    cursor: pointer;
}

#code-area .tabbed-modal__tab.selected {
    flex: 1;
    background-color: var(--tabbed-modal-background);
    color: #e7e7e7;
    border-top: var(--tabbed-modal-border);
    border-left: var(--tabbed-modal-border);
    border-right: var(--tabbed-modal-border);
    border-bottom: none;
}


.time-remaining {
    text-align: center;
    color: white;
    padding: 0.3em 0.2em 0.2em;
    margin: 0.4em 1em;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    border-radius: 0.2em;
    background-color: #5e499b;
    white-space: nowrap;
}

.xterm .xterm-viewport {
    /* Disable xterm.js scrollbar The built in scrollbar is hard to
    theme and position (position moves during resizing) Better to
    disable completely and implement a custom solution if needed. */
    overflow: hidden !important;
}

.terminal-scrollport-container {
    height: 100%;
    width: 100%;
}

.terminal-scrollport {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: var(--terminal-scrollport-z-index);
    /* Hide vertical scrollbar in Firefox */
    /* Actually hides both scroll bars */
    /* There is no simple way to hide only vertical */
    scrollbar-width: none;
}

.terminal-scrollport::-webkit-scrollbar {
    /* Disable vertical scrollbar in Webkit/Chrome */
    width: 0px;
}

.terminal-scroll-layer {
}

.terminal-wrapper {
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    /* Hide vertical scrollbar in Firefox */
    /* Actually hides both scroll bars */
    /* There is no simple way to hide only vertical */
    scrollbar-width: none;
}

.terminal-wrapper::-webkit-scrollbar {
    /* Disable vertical scrollbar in Webkit/Chrome */
    width: 0px;
}

.terminal-container {
    --term-background: black;
    background-color: var(--term-background);
    box-sizing: border-box;
    flex: 1;
    margin: 0 5px 0px 0;
    position: relative;
    border: 1px solid var(--code-area-border-color);
}

.terminal-expired {
    width: 20em;
    margin: 20% auto 0;
    color: white;
    text-align: center;
}

.editor-title-row,
.repl-title-row {
    display: flex;
    gap: 1.5em;
    align-items: center;
    opacity: 1;
    position: absolute;
    top: -1.7em;
    box-sizing: border-box;
    padding: 3px 3px 3px 3px;
    height: 1.5em;
    transition: opacity .5s;
    background: var(--code-area-bg-color);
}

.title-row.hidden {
    opacity: 0;
}

#terminal-container .title-row {
    top: -1.8em;
}

.editor-title,
.repl-title {
    font-family: 'Jost', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #666;
    white-space: nowrap;
}

.editor-title.hidden,
.repl-title.hidden {
    display: none;
}

.codemirror-wrapper {
    box-sizing: border-box;
    border: 1px solid var(--code-area-border-color);
    height: 100%;
}

.codemirror-container {
    position: relative;
    box-sizing: border-box;
    margin: 0 0 0 5px;
    height: 100%;
    width: 50%;
    background-color: black;
}

.spinner-container {
    position: fixed;
    height: 15rem;
    width: 15rem;
    display: flex;
    z-index: var(--spinner-z-index);
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account-circle {
    display: block;
    height: 2em;
    width: 2em;
    cursor: pointer;
}

.run-button {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    padding: 0.1em 0.4em;
    color: #2bb297;
    border-radius: 0.4em;
    border: 1px solid #2bb297;
    background-color: var(--code-area-bg-color);
    white-space: nowrap;
}

.run-button:hover {
    cursor: pointer;
    color: #22907a;
}

.run-button:active {
    color: #1a6f5e;
}

.select {
    position: relative;
}

.select__expand-icon {
    height: 0.4em;
    width: auto;
    padding-top: 0.3em;
}

.select:hover {
    cursor: default;
}

.select-button {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    background-color: inherit;
    color: #999;
    display: flex;
}

.select-button:hover {
    color: #ebebeb;
    cursor: pointer;
}

.select-title {
    padding-right: 5px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.select-dropdown {
    position: absolute;
    top: 22px;
    z-index: var(--select-dropdown-z-index);
    background-color: var(--code-area-modal-background);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 0;
    min-width: 100%;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s, opacity 0.3s;
}

.select-dropdown.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.select-dropdown__item {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #c5c5c5;
    padding: 5px 5px;
}

.select-dropdown__item:hover {
    background-color: #435667;
    cursor: pointer;
}

.form {
    padding: 2.5em 1.2em 1.2em 1.2em;
    margin: 0 auto;
    min-height: 12em;
}

.form__row {
    display: table-row;
    line-height: 2em;
}

.form__row--error {
    height: 1em;
    margin-top: 0.1em;
    line-height: 0.3em;
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
}

.form__error-item {
    display: table-cell;
    padding-top: 0.2em;
}

.form__error-item--code {
    display: block;
    height: 1.3em;
    margin: 0 auto;
    padding-top: 0.3em;
    font-size: 0.7rem;
}

.form__blank-item {
    display: table-cell;
}

.form__label {
    display: table-cell;
}

.form__label--code {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.form__label-img {
    height: 1.3em;
    width: 1.3em;
    padding-right: 0.5em;
    position: relative;
    top: 0.2em;
}

.form__input {
    display: table-cell;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    width: 13em;
    border: 1px solid #999;
    border-radius: 0.2em;
    background-color: white;
    color: #222;
}

.form__input:focus {
    outline: #675ce4 2px solid;
    webkit-border-radius: 0.2em;
}

.form__input::placeholder {
    color: #666;
    font-size: 0.9rem;
    font-weight: 400;
    vertical-align: middle;
}

.form__input.invalid {
    border: 1.5px red dotted;
}

.form__input--code {
    display: block;
    width: 4em;
    text-align: center;
}

.form__submit-button {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    color: white;
    display: block;
    padding: .1em .5em .2em;
    background-color: #336791;
    border: none;
    border-radius: 0.3em;
}

.form__submit-button:focus {
    cursor: pointer;
    background-color: #042853;
    outline: #073b7a solid 2px;
}

.form__submit-button:hover {
    cursor: pointer;
    background-color: #042853;
}

.form__submit-button:active {
    cursor: pointer;
    background-color: #073b7a;
}

.form__bottom-link {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
}

.form__bottom-link:hover,
.form__bottom-link:active {
    cursor: pointer;
    color: #999;
}

.form__subheading {
    width: 15em;
    margin: 0 auto;
    line-height: 1.4em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}

.form__subheading--small {
    font-size: 0.9rem;
}

.form__subheading--medium {
    font-size: 1.1rem;
}

.form__subheading--large {
    font-size: 1.3rem;
}

.popup-container {
    position: absolute;
    left: 0;
    top: 5vh;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: var(--popup-dialog-z-index);
}

.popup:empty {
    opacity: 0;
}

.popup:not(:empty) {
    padding: 0.3em 0.4em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
    background-color: #6975a2;
    border-radius: 4px;
    transition: opacity .5s;
}

.participants-list {
    position: relative;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #999;
    background-color: var(--code-area-bg-color);
    border: 1px solid #555;
    border-radius: 0.4em;
    padding: 0.3em;
    cursor: pointer;
    white-space: nowrap;
    z-index: var(--participants-list-z-index);
}

.participants-list__label {
    padding-right: 0.1em;
}

.participants-list__count {
}

.tooltip {
    position: absolute;
    top: 2em;
    left: -1em;
    right: -1em;
    text-align: center;
    z-index: var(--tooltip-z-index)
}

.tooltip__text {
    font-size: 0.8em;
    background-color: var(--code-area-modal-background);
    border-radius: 2em;
    padding: 0 0.4em;
}

.invite__button {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: #458dc4;
    background-color: var(--code-area-bg-color);
    border: 1px solid #336791;
    border-radius: 0.4em;
    padding: 0.3em;
    cursor: pointer;
    white-space: nowrap;
}

.invite__button:hover {
    color: #3d7ead;

}

.invite__button:active {
    color: #336990;
}

.invite__dialog {
    background: var(--code-area-modal-background);
    position: fixed;
    top: 3em;
    right: 3em;
    padding: 0.4em 0.8em;
    text-align: center;
    border-radius: 0.5em;
    z-index: var(--invite-z-index);
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
}

.invite__dialog.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.invite__instructions {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    color: white;
}

.invite__text {
    font-family: 'Roboto', sans-serif;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: #e3e3ea;
    background: var(--code-area-modal-background);
    user-select: text;
}

.resizer {
    position: relative;
    background: var(--code-area-bg-color);
    cursor: col-resize;
    height: 100%;
    width: auto;
    padding: 0 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resizer__overlay {
    position: absolute;
    width: 2em;
    height: calc(var(--inner-height) - var(--code-area-header-height) - var(--code-area-header-padding-top) - var(--code-area-bottom-margin));
    z-index: var(--resizer-overlay-z-index);
}

.resizer__overlay--wide {
    width: 4em;
}


.resizer__handle {
    height: 25px;
    width: 2px;
    border-right: 2px gray dotted;
    border-left: 2px gray dotted;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1d252c;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    height: 5px;
    width: 0px;
}

/* Remove white dot in corner */
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d252c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f3e54;
}

/* Utility classes */
.u-marg-top-1 {
    margin-top: 0.3em;
}

.u-marg-top-2 {
    margin-top: 0.6em;
}

.u-marg-top-3 {
    margin-top: 0.9em;
}

.u-marg-bot-1 {
    margin-bottom: 0.3em;
}

.u-marg-bot-2 {
    margin-bottom: 0.6em;
}

.u-marg-bot-3 {
    margin-bottom: 0.9em;
}

.u-marg-bot-4 {
    margin-bottom: 1.2em;
}

.u-marg-bot-5 {
    margin-bottom: 1.5em;
}

.u-marg-bot-6 {
    margin-bottom: 1.8em;
}

.u-marg-right-1 {
    margin-right: 0.3em;
}

.u-marg-right-2 {
    margin-right: 0.6em;
}

.u-marg-right-3 {
    margin-right: 0.9em;
}

.u-marg-right-4 {
    margin-right: 1.2em;
}

.u-marg-right-5 {
    margin-right: 1.5em;
}

.u-marg-right-6 {
    margin-right: 1.8em;
}

.u-marg-right-7 {
    margin-right: 1.8em;
}

.u-marg-right-8 {
    margin-right: 1.8em;
}

.u-marg-right-auto {
    margin-left: auto;
}

.u-marg-left-1 {
    margin-left: 0.3em;
}

.u-marg-left-2 {
    margin-left: 0.6em;
}

.u-marg-left-auto {
    margin-left: auto;
}

.u-marg-vert-1 {
    margin: 1em 0;
}

.u-pad-top-1 {
    padding-top: 0.3em;
}

.u-pad-top-2 {
    padding-top: 0.6em;
}

.u-pad-top-3 {
    padding-top: 0.9em;
}

.u-pad-top-4 {
    padding-top: 2em;
}

.u-pad-left-1 {
    padding-left: 0.3em;
}

.u-pad-left-2 {
    padding-left: 0.6em;
}

.u-pad-left-3 {
    padding-left: 0.9em;
}

.u-pad-left-4 {
    padding-left: 1.2em;
}

.u-pad-left-5 {
    padding-left: 1.5em;
}

.u-pad-left-6 {
    padding-left: 1.8em;
}

.u-pad-left-7 {
    padding-left: 2.1em;
}

.u-pad-left-8 {
    padding-left: 2.4em;
}

.u-pad-left-9 {
    padding-left: 2.7em;
}

.u-pad-left-10 {
    padding-left: 3.1em;
}

.u-pad-left-11 {
    padding-left: 3.4em;
}

.u-pad-left-12 {
    padding-left: 3.7em;
}

.u-pad-bot-1 {
    padding-bottom: 0.3em;
}

.u-pad-bot-2 {
    padding-bottom: 0.6em;
}

.u-pad-bot-3 {
    padding-bottom: 0.9em;
}

.u-pad-bot-4 {
    padding-bottom: 1.2em;
}

.u-pad-right-1 {
    padding-right: 0.3em;
}

.u-pad-right-2 {
    padding-right: 0.6em;
}

.u-pad-right-3 {
    padding-right: 0.9em;
}

.u-pad-right-4 {
    padding-right: 1.2em;
}

.u-pad-right-5 {
    padding-right: 1.5em;
}

.u-pad-right-6 {
    padding-right: 1.8em;
}

.u-pad-right-7 {
    padding-right: 2.1em;
}

.u-pad-right-8 {
    padding-right: 2.4em;
}

.u-pad-right-9 {
    padding-right: 2.7em;
}

.u-pad-right-10 {
    padding-right: 3.1em;
}

.u-pad-right-11 {
    padding-right: 3.4em;
}

.u-pad-right-12 {
    padding-right: 3.7em;
}

.u-center-text {
    text-align: center;
}

.u-right-align-text {
    text-align: right;
}

.u-center-block {
    margin-left: auto;
    margin-right: auto;
}

.u-pointer {
    cursor: pointer;
}

.u-width-1 {
    width: 20%
}

.u-width-2 {
    width: 35%
}

.u-clickable {
    cursor: pointer;
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 650px) {
    .participants-list {
        display: none;
    }

    .sign-in-block {
        display: none;
    }
}

@media (max-width: 400px) {
    body {
        font-size: calc(0.5em + 0.5vh);
    }

    .flex-pane__message {
        font-size: 1rem;
    }

    .time-remaining {
        margin: 0.7em 1em;
        font-size: 0.7em;
    }
}
