:root {
  --main-bg-color: #202020;
}

body {
    background-color: var(--main-bg-color);
}

button {
    background-color: var(--main-bg-color);
    color: lightgray;
    border: 1px #005252 solid;
    background-color: #005252;
}
/* Disable xterm.js scrollbar The built in scrollbar is hard to
   theme and position (position moves during resizing) Better to
   disable completely and implement a custom solution if needed. */
.xterm .xterm-viewport {
    overflow: hidden !important;
}

/* Hide overflow to avoid visual jankiness caused by weird
   resizing of xterm.js */
#terminal-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#terminal-container {
    --term-background: black;
    background: var(--term-background);
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: 1px gray solid;
    margin: 0 5px 0 0;
    /* padding: 5px 5px 5px 5px; */
}

#term-button-row {
    display: flex;
    background-color: inherit;
    padding: 3px 3px 3px 3px;
    border-bottom: 1px gray solid;
}

#term-button-row > button {
    font-size: 0.7rem;
}


.terminal.xterm {
    height: 100%;
}

#language-chooser {
    margin-left: 5px;
}

#main-container {
    display: flex;
    height: 90vh;
    margin-top: 5px;
}

#codemirror-container {
    height: 100%;
    width: 50%;
}

.sign-up-form {
    display: block;
    margin-bottom: 10px;
}

.forgot-password-form {
    display: block;
    margin-bottom: 10px;
}

.reset-password-form {
    display: block;
    margin-bottom: 10px;
}

.sign-in-form {
    display: block;
    margin-bottom: 10px;
}

#resizer{
    background: var(--main-bg-color);
    cursor: col-resize;
    height: 100%;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resizer-decoration{
    height: 99%;
    width: 2px;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
}
