body {
    background-color: #202124;
}

#terminal-container {
    height: 100%;
}

.terminal.xterm {
    height: 100%;
}

#language-chooser {
    margin-left: 5px;
}

#main-container {
    display: flex;
    height: 90vh;
    margin-top: 5px
}

#codemirror-container {
    height: 100%;
    width: 50%;
}

.sign-up-form {
    display: block;
    margin-bottom: 10px;
}

.forgot-password-form {
    display: block;
    margin-bottom: 10px;
}

.reset-password-form {
    display: block;
    margin-bottom: 10px;
}

.sign-in-form {
    display: block;
    margin-bottom: 10px;
}

#resizer{
    background: gray;
    cursor: col-resize;
    height: 100%;
    width: 15px;
}
