:root {
    --main-bg-color: #1c1b22;
    --modal-background-color: #111;
    --modal-border: 2px solid #555;
/* z-indexes */
    --modal-z-index: 1001;
}

/* Base rules */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

body {
    background-color: var(--main-bg-color);
    color: white;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* Prevent text from being selected when user is resizing code
   containers */
body.is-resizing {
    user-select: none;
    -webkit-user-select: none;
}

.close-button__container {
    position: relative;
}

.close-button {
    position: absolute;
    top: -2em;
    right: -2em;
    height: 2em;
    width: 2em;
    cursor: pointer;
    background-image: url('./close_button.png');
    background-repeat: no-repeat;
    background-size: 2em 2em;
}

.media {
    display: flex;
    gap: 0.5em;
}

.media__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media__image {
    height: 5.5em;
    width: auto;
    object-fit: scale-down;
}

.media__image--medium {
    height: 4.5em;
    width: auto;
}

.media__image--small {
    height: 3.5em;
    width: auto;
}

.media__image--tiny {
    height: 2.5em;
    width: auto;
}

.media__image--tinier {
    height: 2em;
    width: auto;
}

.media__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media__text--constrained {
    width: 19.5em;
}

.site-name {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 2.7em;
    color: white;
    user-select: none;
    -webkit-user-select: none;
}

.site-name--color1 {
    color: #ec19ff;
}

.site-name--color2 {
    color: white;
}

.site-name--small {
    font-size: 1.5em;
}

.site-name--tiny {
    font-size: 1em;
}

.site-name--micro {
    font-size: 0.6em;
}

.tagline {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.3em;
    color: white;
    display: block;
    user-select: none;
    -webkit-user-select: none;
}

.clickable-image-container {
    height: 2em;
    width: 2em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}


#home {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    height: 100vh;
}

#home > header {
    flex: 1;
    display: flex;
    padding: 0.5em;
    border-bottom: 1px solid #777;
}

#home > main {
    flex: 8;
    display: flex;
    gap: 1em;
    margin: 1em 1em 0 1em;
}

#home > footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #b7b7b7;
}

.message--micro {
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 0.5em;
    color: #b7b7b7;
}

.image-link {
    display: block;
    background-image: url('./github.png');
    height: 1.2em;
    width: 1.2em;
    background-size: 1.2em 1.2em;
    background-repeat: no-repeat;
}

.flex-pane {
    flex: 1;
    overflow: hidden;
}

.flex-pane__message {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    background-color: #2f2d3a;
    padding: 0.3em;
}

.flex-pane__message--small {
    font-size: 0.8rem;
    padding: 0.2em;
}

.flex-pane__sign-in-link {
    text-decoration: underline;
    cursor: pointer;
}


.flex-pane--wide {
    flex: 2;
}

.flex-pane--narrow {
    flex: 1;
}

.flex-pane--boxed {
    border: 1px solid #444;
    background-color: #22212a;
}

.flex-pane--right-justified {
    display: flex;
    justify-content: right;
}

.flex-pane--vert-centered {
    align-items: center;
}

.flex-container {
    display: flex;
}

.flex-container--col {
    flex-direction: column;
}

.thin-font {
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
}

.list-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #444;
    border-radius: 2em;
    margin: 1.5em;
    padding: 0.5em;
}

.list-item:hover {
    background-color: #2e2c38;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
    line-height: 1.5em;
}

.table-row--heading {
    text-align: center;
}

.table-row--items {
    font-family: 'Jost', sans-serif;
}

.table-row--items:hover {
    background-color: #2e2c38;
    cursor: pointer;
}

.table-cell {
    display: table-cell;
    padding: 0 0 0 1em;
}

.sign-in-link {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    text-decoration: underline;
}

.sign-in-link:hover {
    color: #d22eff;
    cursor: pointer;
}

.icon {
    height: 2em;
    width: 2em;
}


.backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: black;
}

.popup-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    position: fixed;
    margin: 15vh auto 0;
    padding: 1em;
    top: 10vh;
    width: 25em;
    left: 0;
    right: 0;
    color: white;
    background-color: var(--modal-background-color);
    border: var(--modal-border);
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
}

.popup-dialog__text {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

.popup-dialog__text--small {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.aligned-block {
    display: table;
}

.aligned-block__row {
    display: table-row;
    line-height: 2em;
}

.aligned-block__row--selectable {
    cursor: pointer;
}

.aligned-block__row--selectable:hover {
    background-color: #333;
}

.aligned-block__cell {
    display: table-cell;
    vertical-align: middle;
}

.aligned-block__image {
    vertical-align: middle;
    height: 5.5em;
    width: auto;
    object-fit: scale-down;
}

.aligned-block__image--tiny {
    height: 2em;
    width: auto;
}

.aligned-block__image--tinier {
    height: 1.5em;
    width: auto;
}

.code-area .header-bar .logo {
    margin-top: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.5em;
    height: 2em;
    width: 2em;
    background-image: url('./codeconnected.png');
    background-size: 2em 2em;
    background-repeat: no-repeat;
}

.code-area .header-bar .right-side {
    display: flex;
    margin-left: auto;
    margin-right: 0.5em;
    user-select: none;
    -webkit-user-select: none;
}

.code-area .header-bar .time-remaining {
    margin-top: 0.9em;
    margin-right: 7em;
    color: white;
    height: fit-content;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    padding: 0.3em;
    border-radius: 0.2em;
    background-color: #5e499b
}

.code-area .header-bar .user-quickdash-container {
    height: fit-content;
    margin-right: 1em;
    margin-top: .9em;
}

.code-area .header-bar .sign-in {
    margin-top: 1em;
    margin-right: 1em;
    height: fit-content;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    text-decoration: underline;
}

.code-area .header-bar .sign-in:hover {
    color: #d22eff;
    cursor: pointer;
}

.avatar {
    height: 1.2em;
    width: 1.2em;
    margin-right: .2em;
    margin-top: .3em;
}

.avatar:not(.inline):hover {
    cursor: pointer;
}

.code-area {
    height: 100%;
    width: 100%;
}

.code-area .spinner-container {
    position: fixed;
    height: 15rem;
    width: 15rem;
    display: flex;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.code-area > main.hidden {
    opacity: 0;
}

.code-area > main.visible {
    opacity: 1;
    transition: opacity .5s;
}

.user-quickdash > main > .heading {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.user-quickdash > main {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1em;
    top: 3em;
    right: 1em;
    min-width: 10em;
    height: auto;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #181a25;
    z-index: 1000;
}

.user-quickdash > main.visible {
    opacity: 1;
    transition: opacity .5s;
}

.user-quickdash > main.hidden {
    opacity: 0;
}


.user-quickdash > main .items {
    padding: 0.5em 1em 0em 1em;
}

.user-quickdash > main p {
    display: table-row;
    line-height: 2em;
}

.user-quickdash > main p img {
    vertical-align: middle;
    display: table-cell;
}

.user-quickdash > main p img.user-icon {
    height: 0.7em;
    width: 0.7em;
}

.user-quickdash > main p img.email-icon {
    height: 0.8em;
    width: 0.8em;
}

.user-quickdash > main p span {
    display: table-cell;
    padding-left: 0.3em;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: white;
}

.user-quickdash > main.hidden {
    visibility: hidden;
}

.user-quickdash > main.visible {
    visibility: visible;
}

.user-quickdash > main .sign-out-button {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: white;
    border: 1px solid #999;
    border-radius: 1em;
    padding: 0.4em 2em;
    background-color: #1d212e;
    margin: 1em auto;
}

.user-quickdash > main .sign-out-button:hover,
.user-quickdash > main .sign-in-button:hover {
    background-color: #6258d7;
    cursor: pointer;
}

#run-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #3cb73c;
    margin-left: 20px;
}

#run-button:hover {
    background-color: #48db48;
    cursor: pointer;
}

#run-button:active {
    color: #dcdcdc;
}

.select {
    position: relative;
}

.select:hover {
    cursor: default;
}

.select-button {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: inherit;
    color: #999;
    user-select: none;
    -webkit-user-select: none;
    display: flex;
}

.select-button:hover {
    color: #ebebeb;
    cursor: pointer;
}

.select-title {
    padding-right: 5px;
}

.select-arrow-down {
    font-family: 'Roboto', sans-serif;
    transform: scale(0.7);
    transition: transform .3s;
}

.select-arrow-up {
    font-family: 'Roboto', sans-serif;
    transform: scale(0.7) rotate(180deg);
    transition: transform .3s;
}

.select-dropdown {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    position: absolute;
    top: 22px;
    z-index: 1000;
    background-color: #333;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity .5s;
    opacity: 1;
    padding: 4px 0;
    min-width: 100%;
    cursor: pointer;
}

.select-dropdown-hidden {
    z-index: -1;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.select-dropdown-item {
    padding: 5px 5px;
    color: #999;
    user-select: none;
    -webkit-user-select: none;
}

.select-dropdown-item:hover {
    background-color: #8537d3;
    color: #ebebeb;
    cursor: pointer;
}

/* Disable xterm.js scrollbar The built in scrollbar is hard to
   theme and position (position moves during resizing) Better to
   disable completely and implement a custom solution if needed. */
.xterm .xterm-viewport {
    overflow: hidden !important;
}

#terminal-wrapper {
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-bottom: 5px;
}

#terminal-container {
    --term-background: black;
    background-color: var(--term-background);
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0 5px 0px 0;
    position: relative;
    border: 2px #333 solid;
}

.terminal-expired {
    width: 20em;
    margin: 20% auto 0;
    color: white;
    text-align: center;
}

.title-row {
    opacity: 1;
    position: absolute;
    top: -1.7em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 3px 3px 3px 3px;
    height: 1.5em;
    color: #999;
    transition: opacity .5s;
}

.title-row.hidden {
    opacity: 0;
}

#terminal-container .title-row {
    top: -1.8em;
}

.editor-and-repl-title {
    user-select: none;
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #999;
    padding-right: 20px;
}

.editor-lang-label {
    user-select: none;
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #999;
}

#main-container {
    display: flex;
    min-height: 100px;
    height: calc(100vh - 0.5em - var(--header-height) - var(--header-bottom-margin));
}

#codemirror-wrapper {
    box-sizing: border-box;
    border: 2px #333 solid;
    /* height: calc(100% - var(--code-titlebar-height)); */
    height: 100%;
}

#codemirror-container {
    position: relative;
    box-sizing: border-box;
    margin: 0 0 0 5px;
    height: 100%;
    width: 50%;
    background-color: black;
}

.form {
    padding: 2.5em 1.2em 1.2em 1.2em;
    margin: 0 auto;
}

.form__row {
    display: table-row;
    line-height: 2em;
}

.form__row--error {
    height: 1.3em;
    margin-top: 0.2em;
    line-height: 0.5em;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
}

.form__error-item {
    display: table-cell;
    padding-top: 0.3em;
}

.form__error-item--code {
    display: block;
    height: 1.3em;
    margin: 0 auto;
    padding-top: 0.3em;
}

.form__blank-item {
    display: table-cell;
}

.form__label {
    display: table-cell;
}

.form__label--code {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
}

.form__label-img {
    height: 1.3em;
    width: 1.3em;
    padding-right: 0.5em;
}

.form__input {
    display: table-cell;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    width: 13em;
    border: 1.5px solid white;
    border-radius: 0.2em;
    background-color: white;
    color: #222;
}

.form__input:focus {
    outline: #675ce4 2px solid;
}

.form__input::placeholder {
    color: #666;
    font-size: 1.2rem;
    font-weight: 400;
    vertical-align: middle;
}

.form__input.invalid {
    border: 1.5px red dotted;
}

.form__input--code {
    display: block;
    width: 4em;
}

.form__submit-button {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: white;
    display: block;
    padding: 0 .5em;
    border: none;
    border-radius: 0.3em;
    background-color: #6258d7;
}

.form__submit-button:focus {
    cursor: pointer;
    background-color: #6258d7;
    outline: #4941a2 solid 2px;
}

.form__submit-button:hover {
    cursor: pointer;
    background-color: #7366fe;
}

.form__submit-button:active {
    cursor: pointer;
    background-color: #4941a2;
}

.form__bottom-link {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
}

.form__bottom-link:hover,
.form__bottom-link:active {
    cursor: pointer;
    color: lightgray;
}

.form__subheading {
    width: 17em;
    margin: 0 auto;
    line-height: 1.4em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.form__subheading--small {
    font-size: 0.8rem;
}

.form__subheading--medium {
    font-size: 1.2rem;
}

.form__subheading--large {
    font-size: 1.3rem;
}

.tabbed-modal {
    --unselected-tab-bkg-color: #444;
    position: fixed;
    z-index: var(--modal-z-index);
    margin-top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 25em;
    min-height: 10em;
    background-color: var(--modal-background-color);
    border-radius: 0.7rem;
}

.tabbed-modal__content {
    border-bottom: var(--modal-border);
    border-right: var(--modal-border);
    border-left: var(--modal-border);
    border-radius: 0 0 0.7rem 0.7rem;
}

.tabbed-modal__tab-container {
    display: flex;
    background-color: var(--unselected-tab-bkg-color);
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.tabbed-modal__tab {
    flex: 1;
    height: 1.2em;
    padding-top: .2em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #777;
    background-color: var(--unselected-tab-bkg-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: var(--modal-border);
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.tabbed-modal__tab.selected {
    flex: 1;
    background-color: var(--modal-background-color);
    color: white;
    border-top: var(--modal-border);
    border-left: var(--modal-border);
    border-right: var(--modal-border);
    border-bottom: none;
}

.popup-container {
    position: absolute;
    left: 0;
    top: 5vh;
    display: flex;
    width: 100%;
    justify-content: center;
}

.popup:empty {
    opacity: 0;
}

.popup:not(:empty) {
    padding: 0.3em 0.4em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
    background-color: #6975a2;
    border-radius: 4px;
    transition: opacity .5s;
}

#resizer{
    background: var(--main-bg-color);
    cursor: col-resize;
    height: 100%;
    width: auto;
    padding: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resizer-handle{
    height: 25px;
    width: 2px;
    border-right: 2px gray dotted;
    border-left: 2px gray dotted;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray black;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}

#terminal-wrapper::-webkit-scrollbar {
    /* Disable vertical scrollbar on terminal in Chrome because it
     * doesn't correctly scroll */
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Utility classes */
.u-marg-top-1 {
    margin-top: 0.3em;
}

.u-marg-top-2 {
    margin-top: 0.6em;
}

.u-marg-top-3 {
    margin-top: 1em;
}

.u-marg-bot-1 {
    margin-bottom: 0.3em;
}

.u-marg-bot-2 {
    margin-bottom: 0.6em;
}

.u-marg-right-1 {
    margin-right: 0.3em;
}

.u-marg-right-2 {
    margin-right: 0.6em;
}

.u-marg-left-1 {
    margin-left: 0.3em;
}

.u-marg-left-2 {
    margin-left: 0.6em;
}

.u-marg-vert-1 {
    margin: 1em 0;
}

.u-pad-top-1 {
    padding-top: 0.3em;
}

.u-pad-top-2 {
    padding-top: 0.6em;
}

.u-pad-top-3 {
    padding-top: 0.9em;
}

.u-pad-top-4 {
    padding-top: 2em;
}

.u-pad-left-1 {
    padding-left: 0.3em;
}

.u-pad-left-2 {
    padding-left: 0.6em;
}

.u-pad-bot-1 {
    padding-bottom: 0.3em;
}

.u-pad-bot-2 {
    padding-bottom: 0.6em;
}

.u-pad-bot-3 {
    padding-bottom: 0.9em;
}

.u-pad-bot-4 {
    padding-bottom: 2em;
}

.u-no-select {
    user-select: none;
    -webkit-user-select: none;
}

.u-center-text {
    text-align: center;
}

.u-right-align-text {
    text-align: right;
}

.u-center-block {
    margin-left: auto;
    margin-right: auto;
}

.u-pointer {
    cursor: pointer;
}

@media (max-width: 500px), (max-height: 220px) {
    :root {
        font-size: calc(0.5em + .5vh);
    }

    .site-name {
        font-size: 1.4rem;
    }

    .logo-text {
        margin-top: .5rem;
    }

    .tagline {
        display: none;
    }

    .home .header-logo {
        height: 1.5em;
        width: 1.5em;
        background-size: 1.5em 1.5em;
    }
}
